chess
matplotlib
--extra-index-url https://download.pytorch.org/whl/cu128
torch==2.7.1+cu128; platform_system == "Windows"
torchvision==0.22.1+cu128; platform_system == "Windows"
torchaudio==2.7.1+cu128; platform_system == "Windows"
torch; platform_system != "Windows"
torchvision; platform_system != "Windows"
torchaudio; platform_system != "Windows"
pytorch-lightning==1.9.5
tensorboard
cupy-cuda12x
